h1 {
    color: aquamarine;
    text-transform: uppercase;
}

.paragraf-1 {
    color: cadetblue;
    font-size: 18px;
    font-family: Arial;
}

#header-1 {
    background-color: steelblue;
    text-align: center;
}

input [type="text"] {
    padding: 10px;
    border: 1px solid burlywood;
}